<div class="container-fluid contact-banner-container">
    <div class="row contact-banner-wrapper">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-7 banner-text">
                <h2>Are you ready to take your business to the next level?</h2>
            </div>
            <div class="col-md-4  banner-cta">
                <a class="btn cta">TAKE CONTROL TODAY</a>
            </div>
        </div>
    </div>
</div>