<div class="container-fluid footer-container">
    <div class="row footer-wrapper">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 logo-column">
                <img class="img-responsive" src="/wp-content/uploads/2017/05/logo-alt.png" alt="Four Mime Logo">
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12"><h5>Contact us Directly:</h5></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="name orange-text">Andy</p>
                        <p class="tel"><span class="orange-text">t:</span> 07880 700900</p>
                        <p class="email"><span class="orange-text">e:</span> andy@fourmime.co.uk</p>
                    </div>
                    <div class="col-md-6">
                        <p class="name orange-text">Ian</p>
                        <p class="tel"><span class="orange-text">t:</span> 07712 323868</p>
                        <p class="email"><span class="orange-text">e:</span> ian@fourmime.co.uk</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 subscribe-wrapper">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Email">
                          <span class="input-group-btn">
                            <div class="diagonal-left">
                                <button class="btn btn-default" type="button">SUBSCRIBE</button>
                            </div>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 social-wrapper">
                        <ul class="list-inline pull-right">
                            <li class="list-inline-item"><a href="#" class="social linkedin" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright-wrapper">
        <div class="col-md-10 col-md-offset-1">
            <p class="copyright">Copyright 2017 Four Mime Ltd 2017. Web Design & Development by Fifteen.</p>
        </div>
    </div>
</div>