<div class="container-fluid breaker-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="title-caption">{{ page.get_field('breaker_caption') }}</h3>
            <h2>{{ page.get_field('breaker_title') }}</h2>
        </div>
    </div>
</div>