<div class="container-fluid homepage-header">
    <div class="row">
        <div class="col-md-7 col-md-offset-1 text-content">
            <h1>{{ page.get_field('header_title') }}</h1>
            <div class="sep"></div>
            <p>{{ page.get_field('header_content') }}</p>
        </div>
    </div>
</div>